{% import 'macros.html' as _m -%}


<!DOCTYPE html>

<html>
<head>
    {% include 'page.header.html' %}
    
    {{ _m.title(title, crumbs, ignore) }}
</head>

<body>
    <div id="container">
        <nav id="main">
            <div id="header">
                <h1><a href="{{ get_url() }}">{{ site.title }}</a></h1>
                {% if site.subtitle %}<h2>{{ site.subtitle }}</h2>{% endif %}
            </div>
            
            <ul>
                <li>
                    {{ _("Navigation") }}

                    <ul style="margin-bottom: 20px;">
                        <li>
                            <a href="{{ get_url('index.html') }}">Home</a>
                        </li>
                    </ul>
                </li>

                <li>
                    {{ _("Recent Posts") }}
                    
                    <ul class="unstyled">
                        {% for post in posts[0:5] %}
                            <li>
                                <a href="{{ get_url(post.url) }}">{{ post.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </nav>
        
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>

    {% block body_scripts %}
        <script type="text/javascript" src="{{ get_asset('js/jquery-2.0.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ get_asset('js/galleria/galleria-1.2.9.min.js') }}"></script>
        <script type="text/javascript">
            Galleria.loadTheme('{{ get_asset("js/galleria/themes/classic/galleria.classic.min.js") }}');
            $('.gallery-stub').each(function(i) {
                var path = '{{ get_asset('js/data') }}';
                var id = this.id;
                var file = path + '/' + id + '.json';

                $.getJSON(file, function(data) {
                    images = [];

                    $.each(Object.keys(data), function(keyIndex, key) {
                        $.each(data[key], function(index, media) {
                            images.push({
                                'image': media.images.standard_resolution,
                                'thumb': media.images.thumbnail
                            });
                        });
                    });

                    Galleria.run('#'+id, {dataSource: images});
                });
            });
        </script>
    {% endblock %}
    
</body>
</html>
